<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vax_Aid</title>

    <!-- Bootstrap core CSS -->
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/theme/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!--right slidebar-->
    <link href="~/theme/css/slidebars.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/theme/css/style.css" rel="stylesheet">
    <link href="~/theme/css/style-responsive.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_Header" />
    @if (User.Identity.IsAuthenticated)
    {

        <partial name="_Sidebar" />
    }


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <partial name="_Footer" />


    <script src="~/theme/js/jquery.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/theme/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/theme/js/jquery.scrollTo.min.js"></script>
    <script src="~/theme/js/slidebars.min.js"></script>
    <script src="~/theme/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/theme/js/respond.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!--common script for all pages-->
    <script src="~/theme/js/common-scripts.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
