<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Tables</span>
                </a>
                <ul class="sub">
                    <li><a asp-area="" asp-controller="VaccineInfoes" asp-action="Index">Vaccine Infoes</a></li>
                    <li><a asp-area="" asp-controller="UserDetails" asp-action="Index">User Details</a></li>
                    <li><a asp-area="" asp-controller="VendorDetails" asp-action="Index">Vendor Details</a></li>
                    <li><a asp-area="" asp-controller="BookingDetails" asp-action="Index">Booking Details</a></li>
                    <li><a asp-area="" asp-controller="Vaccinations" asp-action="Index">Vaccinations</a></li>
                </ul>
            </li>

           
            <!--multi level menu end-->

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
