/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.header-div {
    margin-top: 100px;
    display: block;
    background: #f69494;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);
    position:relative;
    z-index: 1;
    color: #313131;
    border-bottom: 5px solid #28808c;
    border-radius: 5px;
    height: 5%;
    width: auto;
    text-align:center;
}

.header-logo {
    height:150px;
    width:150px;
    display: block;
}

.header-div .header-para {
    font-family: sans-serif,Poppins;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vax-form {
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);
    background: #c8d6fa;
    margin-top: 20px;
    display: block;
    height: auto;
    width: 900px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.top-div p{
    color:black;
    font-display:block;
    font-family: sans-serif,Poppins;
    font-size: 20px;
    margin-top: 20px;
    margin-right:40px;
    text-align: justify;
}
.top-div h1 {
    color: #f69494;
    padding-top:20px;
}

.top-div img {
        margin-right: 20px;
        float: left;
        margin-bottom: 40px;
        height: 300px;
        width: 300px;
        display: block;
        float: left;
    }

.form-div{
    margin-top:140px;
}

.select-vaccination {
    padding-right: 80px;
    margin-left: 20px;
    font-family: sans-serif,poppins;
    font-size: 30px;
    color: #f69494;
}
.select-location {
    margin-left:20px;
    margin-top: 20px;
    font-family: sans-serif,poppins;
    font-size: 30px;
    color: #f69494;
    margin-right:100px;
}

input[type=text], select {
    width: 80%;
    padding: 15px 20px;
    margin-left:20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type=button], select {
    margin-top: 20px;
    width: 80%;
    padding: 15px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    margin-bottom:20px;
}

.footer-div {
    height: 150px;
    width: auto;
    margin-top: 20px;
    display: block;
    background: #f69494;
    position:relative;
    z-index: 1;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0px 1px 4px rgb(0 0 0 / 50%);
    color: #ffffff;
    border-top: 5px solid #28808c;
    border-radius: 5px;
    text-align: center;
}





/* Hide/rearrange for smaller screens */
@media screen and (max-width: 732px) {
    /* Hide captions */
    .carousel-caption{
        display: none;
    }
}
