
.header-div .header-para {
    font-family: sans-serif,Poppins;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-div {
    margin-top: 70px;
    padding-right:100px;
}
.vax-form {
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 50%);
    background: #c8d6fa;
    display: block;
    height: auto;
    width: 900px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.top-div p{
    color:black;
    font-display:block;
    font-family: sans-serif,Poppins;
    font-size: 20px;
    margin-top: 20px;
    margin-right:40px;
    text-align: justify;
}
.top-div h1 {
    color: #f69494;
    padding-top:20px;
}

.top-div img {
        margin-right: 20px;
        float: left;
        margin-bottom: 40px;
        height: 300px;
        width: 300px;
        display: block;
        float: left;
    }

.form-div{
    margin-top:140px;
}

.select-vaccination {
    padding-right: 80px;
    margin-left: 20px;
    font-family: sans-serif,poppins;
    font-size: 20px;
    color: #f69494;
}
.select-location {
    margin-left:20px;
    margin-top: 20px;
    font-family: sans-serif,poppins;
    font-size: 20px;
    color: #f69494;
    margin-right:100px;
}

input[type=text], select {
    width: 80%;
    padding: 15px 20px;
    margin-left:20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.search-button{
    margin-top: 20px;
    width: 20%;
    padding: 15px 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    margin-bottom:20px;
}
button:hover {
    background-color: #f69494;
}

.footer-div {
    height: 150px;
    width: auto;
    margin-top: 20px;
    display: block;
    background: #f69494;
    position:relative;
    z-index: 1;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%), 0px 1px 4px rgb(0 0 0 / 50%);
    color: #ffffff;
    border-top: 5px solid #28808c;
    border-radius: 5px;
    text-align: center;
}

.item-result {
    color: #f69494;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 732px) {
    /* Hide captions */
    .carousel-caption{
        display: none;
    }
}
