@model Vax_Aid.Models.Vaccination

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Vaccination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VaccinationId" />
            <div class="form-group">
                <label asp-for="VaccineId" class="control-label"></label>
                <select asp-for="VaccineId" class="form-control" asp-items="ViewBag.VaccineId"></select>
                <span asp-validation-for="VaccineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDetailsId" class="control-label"></label>
                <select asp-for="UserDetailsId" class="form-control" asp-items="ViewBag.UserDetailsId"></select>
                <span asp-validation-for="UserDetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
