@{
    ViewData["Title"] = "About";
}
@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <title>
        VAX_AID
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <link href="~/css/site.css" rel="stylesheet" />
    <div class="header-div">
        <img src="~/images/logo.png" class="header-logo" />
        <p class="header-para">
            Book your Vaccination online
        </p>
    </div>

    <div class="body-div">
        <div class="vax-form">
            <style>
                /* Set the size of the div element that contains the map */
                #map {
                    height: 400px;
                    width: 900px;
                    border-radius: 5px;
                }

                .near {
                    padding-right: 80px;
                    margin-left: 20px;
                    font-family: sans-serif,poppins;
                    font-size: 30px;
                    color: #f69494;
                }

                    .near:hover {
                        color: #ffffff;
                    }
            </style>

            <div id="map"></div>
            <script>
                // Initialize and add the map
                    var map;

                function initMap() {
  // The map, centered on Ratobhale
                const center = { lat: 27.692877252230108, lng:85.32394461409883};
                const options = {zoom: 15, scaleControl: true, center: center};
                map = new google.maps.Map(
                document.getElementById('map'), options);
  // Locations of landmarks
                    const maitighar = { lat: 27.69442365804538, lng: 85.32046936875884 };
                    const baneswor = { lat: 27.688325287267954, lng: 85.33555591158955};
                    const madanbhandari = { lat: 27.6951749422670, lng: 85.32934607446909}
                    var mk1 = new google.maps.Marker({ position: maitighar, map: map });
                    var mk2 = new google.maps.Marker({ position: baneswor, map: map });
                    var mk2 = new google.maps.Marker({ position: madanbhandari, map: map });
                }
            </script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZgSIffhvGknjW396qIjmjaLImcbEJyxo&callback=initMap">
            </script>
            <div class="nearest-location">
                <header class="near">Nearest Vaccination Centers</header>


            </div>

        </div>
    </div>

    <div class="footer-div">
        <p style="text-align:center">
            <h2>For Support:</h2>
            Email. vaxaidofficial@gmail.com<br />
            Ph no. +977-9806094974
        </p>
    </div>
</body>
</html>
