@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
<title>VAX_AID
</title>
</head>

<body>
    <link href="css/site.css" rel="stylesheet">
    <div class="header-div">
        <img src="~/images/logo.png" class="header-logo" />
        <p class="header-para">
            Book your Vaccination online
        </p>
    </div>

    <div class="vax-form">
        <div class="top-div">
            <img src="~/images/vaccinebottle.png" class=" form-back" />

            <h1 style="color:#f69494">
                Find A Vaccinaton Centre
            </h1>

            <p id="vax-form-info">
                Everyone aged 5 and up is eligible for a free COVID-19 immunization.
                The best approach to discover and book a COVID-19 immunization appointment is to use the VAX AID.
                Thank you for your patience as we work diligently to schedule appointments.
            </p>
        </div>
        <div class="form-information">
            <form>
                <label class="select-vaccination" for="Vaccinationinfo">Choose your Vaccination</label>
                <input type="text" id="Vaccinationname" name="Vaccinationinfo" placeholder="Select">
                <label class="select-location" for="Vaccinationinfo">Select location</label>
                <input type="text" id="Vaccinationname" name="Vaccinationinfo" placeholder="Select">
                <button type="button" class="search-button" name="Search">Search</button>

            </form>
        </div>
    </div>

    <div class="footer-div">
        <p style="text-align:center">
            <h2>For Support:</h2>
            Email. vaxaidofficial@gmail.com<br />
            Ph no. +977-9806094974
        </p>
    </div>
</body>
</html>