@model List<Vax_Aid.Controllers.Locationinf>

<link href="~/css/StyleSheet.css" rel="stylesheet" />
<body>
    <div class="body-div">
        <div class="vax-form">
            <div class="form-div" >
                <form asp-action="Create" asp-controller="UserDetails">
                <h1 style="margin-left:20px;">Nearest Vaccination Centres</h1><br/>
                @foreach (var item in Model)
                {
                <div class="item-result">
                    <ol><h3>@item.address <br /></h3></ol>
                    <button type="submit" class="search-button" name="Search">Book Here</button>
                    <hr />
                </div>
                    <br />
                }
                </form>
            </div>
        </div>
    </div>
</body>


